body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f5; /* Light Blue mixed with White */
}

.container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    background-color: #ffffff; /* White */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3498db; /* Light Blue */
}

.search-container {
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db; /* Light Blue */
    color: #fff;
    cursor: pointer;
    border: none;
}

.weather-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff; /* White */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
